.bookMakedStyle {
    width: 340px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    border-radius: 8px;
    background: #FFF;
    padding: 5px 15px;
    margin-top: 10px;
    /* 28.8px */
}

@media (max-width:600px) {
    .bookMakedStyle {
        width: 400px;
        color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: 160%;
        border-radius: 8px;
        background: #FFF;
        padding: 5px 15px;
        margin-top: 10px;
        /* 28.8px */
    }

}