.siteName {
    color: #111;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 64px */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 130px 30px;
}

.profileImage {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.headerHrLine {
    margin: 0px 130px 0px;
    background: rgba(17, 17, 17, 0.1);
    padding-bottom: 30;
}

@media (max-width: 600px) {
    .header {
        padding: 20px 20px 10px;
    }
    .headerHrLine{
        margin: 0px 20px 0px
    }
}